body {
    font-family: 'Montserrat';
}

footer {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #171717;
    color: white;
}

.breadcrumb {
    background-color: white;
}

.nav-item.active a {
    color: #1E90FF !important;
    font-weight: 600;
}

.nav-link span {
    color: #1E90FF;
    font-weight: 600;
}

.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'Lora';
}

.carousel p {
    font-weight: 200;
}

.navbar {
    background-color: #171717;
    border-bottom: 1px solid #333;
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}

.features h3,
.similar-product h3,
.cart-header h3,
.checkout-modal h3 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}

.features p,
.similar-product p,
.cart-header p,
.checkout-modal p {
    font-weight: 200;
    color: #B7B7B7;
}

.cart-breadcrumb {
    margin-top: 50px;
}

footer {
    color: white;
}

.figure h5 {
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a {
    opacity: 1;
}

.figure-image {
    transform: scale(2, 2);
}

.hovers {
    transform: scale(1.2, 1.2);
}

/* hr {
    width: 250px;
    border-top: 3px solid #666;
} */

.about {
    /* background-color: #eeeeee; */
    height: auto;
    width: auto;
    margin-bottom: 100px;
}

.figure-img {
    position: relative;
}

.figure-img a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a {
    opacity: 1;
}

.product-thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 280px;
    padding: 8px;
    margin: auto;
    transform: translateY(-50px);
}

.product-thumbnail-container a:hover {
    text-decoration: none;
}

.btn-product {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #EAEAEF;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.product-description {
    background-color: #F6F7FB;
    height: 350px;
}

.product-description .tab-content {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top: 0;
    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.6);
}

.product-description .tab-content p {
    font-size: 16px;
    font-weight: 200;
    color: #868686;
    line-height: 28px;
}

.product-review h5 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
}

.product-review p {
    font-size: 14px !important;
}

.product-review {
    height: 300px;
    overflow: scroll;
}

.similar-product {
    margin-top: 130px;
    margin-bottom: 100px;
}

.checkout-detail {
    background-color: #F6F7Fb;
    border: 1px solid #EAEAEA;
    color: #171717;

}